# Google Sheets API Credentials (Service Account)
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=

# Google Spreadsheet IDs (The long code in the URL: /d/SPREADSHEET_ID/edit)
LINK_AVANCE_PPT=
LINK_RECLAMOS_PV=
LINK_ENCUESTAS_V=
LINK_RECLAMOS_V=
LINK_OS_JUJUY=
LINK_OS_SALTA=
LINK_REFUERZO_JJY=
LINK_REFUERZO_SLA=
LINK_PLAN_ACCION=
LINK_KPI_PV=
LINK_FACTURACION=
LINK_RRHH_NOTAS=
LINK_RRHH_RELAT=

# Application Settings
GEMINI_API_KEY=
GLOBAL_PASSWORD=
IS_PASSWORD_PROTECTED=false
VITE_API_URL=
